/* ALL APPLICATION */
.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90.4deg,
    rgb(248, 52, 246) 0.6%,
    rgb(152, 38, 252) 90%
  );

  color: black;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: rgb(152, 38, 252);
  color: white;
  padding: 1em 2em;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  display: inline-block;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

button:hover {
  background-color: rgb(98, 4, 180);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(98, 4, 180);
}

h2 {
  font-size: large;
}

/* LOGIN */
.auth-form-container,
.login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0.5rem;
  background: white;
  width: 90%;
  max-width: 300px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  max-width: 100%;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
}

/* ACCOMMODATION */
.accommodation {
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem;
  margin-top: 6rem;
  text-align: center;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
}

.accommodation-box {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media only screen and (min-width: 480px) {
  .accommodation-box {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .accommodation-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .accommodation-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image {
  width: 100%;
  object-fit: fill;
  border-radius: 10px;
}

/* USER */
.user-container {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 3.5rem;
  width: 95%;
  padding: 0 20px;
  border-radius: 20px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
}

.user-box {
  display: flex;
  align-items: center;
}

.user,
.home,
.user-name,
.points,
.back {
  margin-right: 1vw;
  cursor: pointer;
}

.user img,
.home img,
.back img,
.logout img {
  width: 2rem;
  height: 2rem;
}

.user-name,
.points {
  margin-right: 1.4vw;
}

.logout {
  margin-left: auto;
  cursor: pointer;
}

/* INFO */
.info-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2vw;
  width: 95%;
  max-width: 1200px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  text-align: justify;
  position: fixed;
  top: 18vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  max-height: calc(100vh - 12vw);
  overflow-y: auto;
  bottom: 1vw;
}

.map {
  width: 90%;
  height: auto;
}

.next {
  position: absolute;
}

.top-right {
  top: 1%;
  right: 1%;
}

.bottom-center {
  position: relative;
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
}
.photos-container {
  justify-content: center;
  flex-wrap: wrap;
}

.photos-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0.1rem;
}

@media only screen and (max-width: 768px) {
  .info-container {
    top: 18vh;
    padding: 5vw;
    bottom: 1vw;
    left: 50%;
  }

  .photos-container img {
    max-width: 100%;
    max-height: none;
  }
}
/* ROOM */
.room-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw;
  margin-top: 7vh;
}

.room-box {
  background-color: white;
  padding: 1vw;
  border-radius: 20px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  margin-bottom: 2vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
  max-width: 70vw;
  width: 100%;
}

.room-box p {
  margin-right: 0.5vw;
  font-size: 1vw;
}

.room-box button {
  font-size: 1.2vw;
}

.selected {
  border: 0.2vw solid rgb(12, 226, 12);
}

.room-button {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.2vw;
  background: rgb(152, 38, 252);
  padding: 1em 2em;
  border-radius: 20px;
}
.room-name {
  font-weight: bold;
  color: rgb(152, 38, 252);
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .room-box p {
    font-size: 1.8vw;
  }

  .room-box {
    grid-template-columns: repeat(3, 1fr);
    max-width: 80vw;
  }

  .room-button {
    font-size: 1.8vw;
  }
}

/* SELECT */
.filters {
  margin-top: 3rem;
  width: 20%;
  padding: 1vw;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.filters label,
.filters select,
.filters input {
  margin-bottom: 0.1vw;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8vw;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  border-radius: 1vw;
}

.filters input {
  border: 0.09vw solid #00000099;
}

@media only screen and (max-width: 768px) {
  .filters label,
  .filters select,
  .filters input {
    font-size: 1.5vw;
  }
}

/* STATUS */
.status-container {
  background-color: #ffffff;
  padding: 2vw;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  border-radius: 2vw;
  width: 90%;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  max-height: calc(100vh - 12vw);
  overflow-y: auto;
  bottom: 1vw;
}

.status-container h2 {
  color: #333333;
  margin-bottom: 2vw;
  margin-top: 0%;
}

.status-container .request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  border-bottom: 0.1vw solid #dddddd;
}

.status-container .request p {
  margin: 0;
  margin-right: 4rem;
}
.status-filter {
  font-family: "Poppins", sans-serif;
}

.request-info {
  display: flex;
  align-items: center;
}

.info-item {
  margin: 0;
  margin-right: 2vw;
}

.admin-buttons {
  display: flex;
  align-items: center;
}

.filter-dropdown label {
  display: block;
  margin-bottom: 1px;
  font-size: 12px;
}

.filter-dropdown select {
  width: calc(100% - 8px);
  padding: 8px 30px 8px 10px;
  border: none;
  border-radius: 20px;
  background-color: #c0bbbb32;
  color: #333;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px auto;
}

.filter-dropdown select:focus {
  outline: none;
  box-shadow: 0 0 3px rgb(98, 4, 180);
}

@media screen and (max-width: 600px) {
  .filter-dropdown select {
    padding: 8px 20px 8px 10px;
  }
}

.admin-button,
.user-button {
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 1.5vw;
  border-radius: 20px;
}

.reject-button {
  background-color: #ff5733;
  color: #fff;
}

.approve-button {
  background-color: #28a745;
  color: #fff;
}

.reject-button:hover {
  background-color: #c70000;
}

.approve-button:hover {
  background-color: #218838;
}

/* ADD */
.menu {
  position: absolute;
  top: 75%;
  left: 4rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu div:hover {
  background-color: #f0f0f0;
}
.upload-form {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2.5rem;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
}

.select {
  font-family: "Poppins", sans-serif;
  padding: 8px;
  width: 100%;
}

.select-data-type {
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.select-data-type {
  padding: 0.5rem;
  font-size: 1rem;
}

.file-input {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
}
