.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90.4deg,
    rgb(248, 52, 246) 0.6%,
    rgb(152, 38, 252) 90%
  );

  color: black;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.auth-form-container,
.login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0.5rem;
  background: white;
  width: 90%;
  max-width: 300px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 768px) {
  .auth-form-container {
    width: 90%;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  max-width: 100%;
}

button {
  border: none;
  background: rgb(152, 38, 252);
  color: white;
  padding: 1em 2em;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  display: inline-block;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(98, 4, 180);
  letter-spacing: 3px;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(98, 4, 180);
}

button:active {
  letter-spacing: 3px;
  background-color: rgb(98, 4, 180);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(98, 4, 180);
  transform: translateY(10px);
  transition: 500ms;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
}
.accommodation {
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 20%;
  text-align: center;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
}

.accommodation-box {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.image {
  width: 100%;
  object-fit: fill;
  border-radius: 10px;
}

.user-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 10vh;
  width: 95%;
  padding: 0 20px;
  border-radius: 20px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
}

.user-box {
  justify-content: center;
  display: flex;
}

.user,
.logout,
.help,
.home,
.back {
  margin-right: 10px;
  cursor: pointer;
}
.user img,
.help img,
.home img,
.logout img,
.back img {
  width: 3vw;
  height: 3vw;
}

.user-name,
.points {
  margin-right: 1vw;
}

.help {
  margin-left: auto;
  margin-right: 1vw;
  cursor: pointer;
}

.info-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2vw;
  margin-top: 20vh;
  margin-bottom: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1200px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  text-align: justify;
  position: relative;
}

.map {
  width: 90%;
  height: auto;
}

.next {
  position: absolute;
}

.top-right {
  top: 1%;
  right: 1%;
}

.bottom-center {
  position: relative;
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;
}

.room-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw;
  margin-top: 6vh;
}

.room-box {
  background-color: white;
  padding: 2vw;
  border-radius: 20px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
}
.room-box p {
  margin-right: 1vw;
  font-size: 1vw;
}
.filters {
  margin-top: 8vh;
  width: 20vw;
  padding: 2vw;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  text-align: center;
}

.filters label,
.filters select,
.filters input {
  margin-bottom: 1vw;
  width: 100%;
  box-sizing: border-box;
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 1vw;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
}

.selected {
  border: 0.2vw solid rgb(12, 226, 12);
}
.help-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  background-color: #fff;
  padding: 3vw;
  border-radius: 2vw;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5vw;
  width: 50%;
}

.question-box {
  width: 100%;
}

label {
  display: block;
}

select,
textarea {
  width: calc(100% - 2vw);
  padding: 1vw;
  border: 0.15vw solid #0d0b0b;
  border-radius: 1vw;
  box-sizing: border-box;
  margin-bottom: 1.5vw;
}

.status-container {
  background-color: #ffffff;
  padding: 2vw;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
  border-radius: 2vw;
  width: 90%;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 18vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  max-height: calc(100vh - 12vw);
  overflow-y: auto;
  bottom: 1vw;
}

.status-container h2 {
  color: #333333;
  font-size: 2vw;
  margin-bottom: 2vw;
}

.status-container .request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  border-bottom: 0.1vw solid #dddddd;
}

.status-container .request p {
  margin: 0;
  margin-right: 2vw;
}
.status-filter {
  font-family: "Poppins", sans-serif;
}
.photos-container img {
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .status-container .request p {
    margin-right: 1vw;
  }

  .photos-container img {
    max-width: 100%;
    max-height: none;
  }
}
